</h1>New Article Template</h1>

<form action="/articles" method="post">
  Article Title:<br>
  <input type="text" name="title">
  <br>
  Body:<br>
  <input type="text" name="body">
  <br>
  Author:<br>
  <input type="text" name="author">
  <br>
  <input type="submit">
</form>


<h1>List of Articles</h1>

{{#each articles}}
  <div class = "articles">
    <p>Article Title: {{title}}<br>
    Body: {{body}}<br>
    Author: {{author}}
    </p>
  <div>

  <form action="articles/{{title}}/edit" method="delete">
    <input type="submit" value="Delete">
  </form>
  <form action="articles/{{title}}/edit" method="edit">
    <input type="submit" value="Edit">
  </form>
{{/each}}

