<h1>Article Found</h1>

{{#each articles}}
  <div class = "articles">
    <p>Article Title: {{title}}<br>
    Body: {{body}}<br>
    Author: {{author}}
    </p>
  <div>

  <form action="{{title}}/edit" method="GET">
      <input type="submit" value="Edit">
    </form>
  <form action="{{title}}?_method=DELETE" method="POST">
    <input type="submit" value="Delete">
  </form>

{{/each}}
