<h1>List of Products</h1>

{{#each products}}
  <div class = "products">
    <p>Product Name: {{name}}<br>
    Price: ${{price}}<br>
    Inventory: {{inventory}}
    </p>
  <div>

  <form action="{{id}}?_method=DELETE" method="POST">
    <input type="submit" value="Delete">
  </form>
  <form action="{{id}}/edit" method="GET">
    <input type="submit" value="Edit">
  </form>
{{/each}}